{{!--
Re-usable card for linking to posts
--}}

<article >
    <a href="{{url}}">
        {{#if feature_image}}
            <img class="rounded-t-2xl w-full"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        {{/if}}
        <div class="bg-white/20 hover:bg-black/10 rounded-b-2xl {{post_class}} p-1 md:p-3 lg:p-6">
            <span class="text-xs"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
            <h2 class="font-bold text-2xl">{{title}}</h2>
            <p class="prose">{{excerpt}}</p>
        </div>
    </a>
</article>
