<div class="flex flex-wrap flex-row gap-4">
    {{#if @custom.social_link_1}}
        {{#if @custom.social_icon_1}}
            <div class="h-7 w-7">
                <a class=" fill-gray-500" href="{{@custom.social_link_1}}" target="_blank">
                    {{#match @custom.social_icon_1 "=" "Facebook"}}
                        {{> "icons/Facebook" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Github"}}
                        {{> "icons/Github" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "LinkedIn"}}
                        {{> "icons/LinkedIn" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Reddit"}}
                        {{> "icons/Reddit" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Tiktok"}}
                        {{> "icons/Tiktok" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Twitch"}}
                        {{> "icons/Twitch" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Twitter"}}
                        {{> "icons/Twitter" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Yelp"}}
                        {{> "icons/Yelp" }}
                    {{/match}}
                    {{#match @custom.social_icon_1 "=" "Youtube"}}
                        {{> "icons/Youtube" }}
                    {{/match}}
                </a>
            </div>
        {{/if}}
    {{/if}}
    {{#if @custom.social_link_2}}
        {{#if @custom.social_icon_2}}
            <div class="h-7 w-7">
                <a class=" fill-gray-500" href="{{@custom.social_link_2}}" target="_blank">
                    {{#match @custom.social_icon_2 "=" "Facebook"}}
                        {{> "icons/Facebook" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Github"}}
                        {{> "icons/Github" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "LinkedIn"}}
                        {{> "icons/LinkedIn" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Reddit"}}
                        {{> "icons/Reddit" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Tiktok"}}
                        {{> "icons/Tiktok" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Twitch"}}
                        {{> "icons/Twitch" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Twitter"}}
                        {{> "icons/Twitter" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Yelp"}}
                        {{> "icons/Yelp" }}
                    {{/match}}
                    {{#match @custom.social_icon_2 "=" "Youtube"}}
                        {{> "icons/Youtube" }}
                    {{/match}}
                </a>
            </div>
        {{/if}}
    {{/if}}
    {{#if @custom.social_link_3}}
        {{#if @custom.social_icon_3}}
            <div class="h-7 w-7">
                <a class=" fill-gray-500" href="{{@custom.social_link_3}}" target="_blank">
                    {{#match @custom.social_icon_3 "=" "Facebook"}}
                        {{> "icons/Facebook" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Github"}}
                        {{> "icons/Github" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "LinkedIn"}}
                        {{> "icons/LinkedIn" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Reddit"}}
                        {{> "icons/Reddit" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Tiktok"}}
                        {{> "icons/Tiktok" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Twitch"}}
                        {{> "icons/Twitch" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Twitter"}}
                        {{> "icons/Twitter" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Yelp"}}
                        {{> "icons/Yelp" }}
                    {{/match}}
                    {{#match @custom.social_icon_3 "=" "Youtube"}}
                        {{> "icons/Youtube" }}
                    {{/match}}
                </a>
            </div>
        {{/if}}
    {{/if}}
    {{#if @custom.social_link_4}}
        {{#if @custom.social_icon_4}}
            <div class="h-7 w-7">
                <a class=" fill-gray-500" href="{{@custom.social_link_4}}" target="_blank">
                    {{#match @custom.social_icon_4 "=" "Facebook"}}
                        {{> "icons/Facebook" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Github"}}
                        {{> "icons/Github" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "LinkedIn"}}
                        {{> "icons/LinkedIn" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Reddit"}}
                        {{> "icons/Reddit" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Tiktok"}}
                        {{> "icons/Tiktok" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Twitch"}}
                        {{> "icons/Twitch" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Twitter"}}
                        {{> "icons/Twitter" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Yelp"}}
                        {{> "icons/Yelp" }}
                    {{/match}}
                    {{#match @custom.social_icon_4 "=" "Youtube"}}
                        {{> "icons/Youtube" }}
                    {{/match}}
                </a>
            </div>
        {{/if}}
    {{/if}}
    {{#if @custom.social_link_5}}
        {{#if @custom.social_icon_5}}
            <div class="h-7 w-7">
                <a class=" fill-gray-500" href="{{@custom.social_link_5}}" target="_blank">
                    {{#match @custom.social_icon_5 "=" "Facebook"}}
                        {{> "icons/Facebook" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Github"}}
                        {{> "icons/Github" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "LinkedIn"}}
                        {{> "icons/LinkedIn" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Reddit"}}
                        {{> "icons/Reddit" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Tiktok"}}
                        {{> "icons/Tiktok" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Twitch"}}
                        {{> "icons/Twitch" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Twitter"}}
                        {{> "icons/Twitter" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Yelp"}}
                        {{> "icons/Yelp" }}
                    {{/match}}
                    {{#match @custom.social_icon_5 "=" "Youtube"}}
                        {{> "icons/Youtube" }}
                    {{/match}}
                </a>
            </div>
        {{/if}}
    {{/if}}
</div>