<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<main class="w-full h-screen">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div>
            <div class="lg:fixed flex flex-col md:flex-row p-2 md:p-3 lg:p-5 lg:w-1/2">
                <div class="flex-none p-2 lg:p-6">
                    <a href="/">
                        <img class="rounded-full h-24 w-24" src="{{@site.logo}}" alt="{{@site.title}}" />
                    </a>
                </div>
                <div class="flex h-full">
                    <div class="flex-col p-2 lg:p-6 gap-10">
                        <div class="mb-3 mt-3">
                            <h1 class="font-bold text-4xl"><a href="/">{{@site.title}}</a></h1>
                        </div>
                        <div class="mb-3 mt-3">
                            <h2 class="text-lg">{{@site.description}}</h2>
                        </div>
                        <div class="mb-3 mt-3">
                            {{navigation}}
                        </div>
                        <div class="mb-3 mt-3">
                            {{> "social-links" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: {{@site.accent_color}}" class="min-h-screen rounded-tl-3xl p-2 md:p-3 lg:p-6">
            <div class="pt-6 pb-6">
                {{{body}}}
            </div>
        </div>
    </div>
</main>
{{ghost_foot}}
</body>
</html>
