{{!< default}}

<div>

    <section>
        <h1 class="text-9xl text-center">{{statusCode}}</h1>
        <p class="text-2xl text-center">{{message}}</p>
        <p class="text-center"><a href="{{@site.url}}">Go to the front page →</a></p>
    </section>

    {{#if errorDetails}}
    <section>
        <h3>Theme errors</h3>
        <ul>
            {{#foreach errorDetails}}
                <li>
                    <em>{{{rule}}}</em>

                    {{#foreach failures}}
                        <p><span>Ref: {{ref}}</span></p>
                        <p><span>Message: {{message}}</span></p>
                    {{/foreach}}
                </li>
            {{/foreach}}
        </ul>
    </section>
    {{/if}}

</div>
